.row
    .span12
        .hero-unit
          h1 Heroku + Node.js
          br
          p This example illustrates basic search features of Heroku & ElasticSearch as service.

          p Type “*” or “cloud” to search box and hit enter for sample search results.

        if result
          if (result == "Error: connect ECONNREFUSED")
            p.alert Elasticsearch server is either not running or not configured
          else
            p= result
        else
          p To create initial index and sample data click
              a(href='/index')= ' Create Sample Index & Data! '
